body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0b0c10;
    font-family: 'Cinzel', serif;
    color: #c9d1d9;
}

/* Cabeçalho com efeito parallax */
.header-paralax {
    background-image: url('https://wallpapers.com/images/hd/hd-fan-art-poster-of-hollow-knight-gfqwy06xyo81wi4z.jpg');
    background-size: cover;
    background-attachment: fixed; /* efeito de paralaxe */
    width: 100%;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.header-paralax h1 {
    text-align: center;
    color: #e5e5e5;
    text-shadow: 2px 3px 1px #000;
    font-family: 'Cinzel', serif;
    font-weight: 900;
    letter-spacing: 20px;
    font-size: 50px;
    margin: 0;
}


.introducao {
    margin-top: 200px; 
    padding: 40px 20px;
    background-color: #1f242d;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border: #161616 3px solid;
    border-radius: 10px;
    text-align: center;
}

.introducao h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    letter-spacing: 3px;
}

.introducao p {
    font-size: 18px;
    line-height: 1.6;
    color: #dcdcdc;
}

/* Conteúdo principal */
main .content {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1f242d;
    color: #ffffff;
    font-family: 'Cinzel', serif;
    font-size: 18px;
    line-height: 1.6;
}
.personagens img{
    width: 100%;
    height: auto;
    display: block; 
    border-radius: 10px;
    border: #161616 3px solid;
    margin: 20px auto; 
    max-width: 300px; 
}
.header-paralax .overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0); /* transparente inicialmente */
    pointer-events: none;
    transition: background 0.2s ease-out;;
    z-index: 1;
}